.container {
  max-width: 800px;
  margin: 0 auto;
}

.datestamp {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
}

.datestampContent {
  background-color: black;
  padding: 4px;
  margin-top: 4px;
  font-family: monospace;
}

.frameImage {
  display: block;
  max-width: 100%;
  max-height: 100vh;
  margin: 0 auto;
}

.controlbar {
  position: absolute;
  bottom: 20px;
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
}

.sliderContainer {
  flex-basis: 0;
  flex-grow: 1;
  width: 100%;
  padding: 0 30px;
}

.sliderContainerInner {
  width: 100%;
  position: relative;
}

.slider {
  appearance: none;
  width: 100%;
  height: 40px;
  background: none;
  outline: none;
  position: absolute;
  top: 0;
  left: 0;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 10px;
  height: 40px;
  background: white;
  box-shadow: 0 0 5px black;
  border-radius: 5px;
}

.sliderThumbnail {
  display: inline-block;
  height: 30px;
  margin: 10px 0;
}

.plantThumb {
  display: inline-flex;
  margin: 0.5em;
  padding: 0em;
  overflow: hidden;
  border-radius: 0.5em;
  box-shadow: 0 2px 3px rgba(0,0,0,0.5);

  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;

  align-items: flex-end;
  justify-content: center;
  text-align: center;

  color: #fff;
  font-weight: bold;
}

.animBackbutton {
  position: absolute;
  z-index: 1;
  top: 16px;
  left: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  color: white;
  font-size: 36px;
  background: black;
  border-radius: 25px;
}