.streamThumb {
  display: inline-flex;
  margin: 0.5em;
  padding: 0em;
  flex-direction: column;
  align-items: center;
}

.streamThumbImage {
  display: flex;
  overflow: hidden;
  border-radius: 0.5em;
  box-shadow: 0 2px 3px rgba(0,0,0,0.5);

  width: 160px;
  height: 160px;
  background-size: cover;
  background-position: center;

  align-items: flex-end;
  justify-content: center;
  text-align: center;

  color: #fff;
  font-weight: bold;
}

.streamThumbTitle {
  margin-top: 10px;
}